@if (selectedQuestion) {
  <button class="button" (click)="exitQuestion()">Back</button>
  <div class="board">
    <!-- HEADER ROW
      <div class="header">
        {{ selectedQuestion.value  }}
      </div>-->
    <div class="cell">
      <!--{{ selectedQuestion.question }}-->
      <quill-editor
        [styles]="{height: '300px' }"
        [modules]="{toolbar: false}"
        [readOnly]="true"
        (onEditorCreated)="onEditorCreated($event)">
      </quill-editor>
    </div>
  </div>
} @else {
  <!--<button class="button">Edit</button>-->
  <button class="button" (click)="exitBoard()">Exit</button>

  <div class="board"
       [style.gridTemplateColumns]="'repeat(' + board.categories.length + ', 1fr)'"
       [style.gridTemplateRows]="'auto repeat(' + maxQuestions + ', 1fr)'">


      <!-- HEADER ROW -->
      <ng-container *ngFor="let category of board.categories; let catIndex = index">
        <div class="header">
          {{ category.name }}
        </div>
      </ng-container>

      <!-- QUESTION ROWS -->
      <ng-container *ngFor="let rowIndex of rowIndexes">
        <ng-container *ngFor="let category of board.categories; let catIndex = index">
          <div class="cell"
               (click)="selectQuestion(catIndex, rowIndex)"
               [ngStyle]="{'color': category.questions[rowIndex].used ? 'rgba(211,208,208,0.2)' : '#d5d5d5'}">
            {{ category.questions[rowIndex]?.value }}
          </div>
        </ng-container>
      </ng-container>

  </div>
}
<div class="scoreboard">

  <div class="team-card" *ngFor="let p of players">

    <button class="remove"
            (click)="removePlayer(p.id)"
            title="Remove team">
      ×
    </button>

    <input class="team-name"
           [(ngModel)]="p.name">

    <div class="divider"></div>

    <input class="team-score"
           [value]="p.score"
           (change)="setScore(p, $any($event.target).value)">

    <div class="team-controls">
      <button class="btn plus" (click)="addScore(p)">+</button>
      <button class="btn minus" (click)="subtractScore(p)">−</button>
    </div>

  </div>

  <button class="add-team" (click)="addPlayer()">+ Team</button>

</div>
<!--
<div class="modal" *ngIf="selectedQuestion">
  <div class="modal-content">
    <h2>{{ selectedQuestion.question }}</h2>
    <p>{{ selectedQuestion.answer }}</p>
    <button (click)="closeQuestion()">Close</button>
  </div>
</div>
-->
