<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
</table>

@if (selectedQuestion) {
  <button class="button" (click)="exitQuestion()" style="margin: 10px">Exit</button>
  <button class="button" (click)="saveQuestion()" style="margin: 10px">Save & Exit</button>
  <div class="board">
    <div class="cell">
      <quill-editor
        #questionEditor
        [(ngModel)]="questionContent"
        [styles]="{height: '300px'}"
        [modules]="modules"
        (onEditorCreated)="onQuestionEditorCreated($event)">
      </quill-editor>
    </div>
    <div class="cell">
      <quill-editor
        #answerEditor
        [(ngModel)]="answerContent"
        [styles]="{height: '300px'}"
        [modules]="modules"
        (onEditorCreated)="onAnswerEditorCreated($event)">
      </quill-editor>
    </div>
  </div>
} @else {
  <button (click)="exit()" class="button" style="margin: 10px">Exit</button>
  <button (click)="saveAndExit()" class="button" style="margin: 10px">Save & Exit</button>

  <div class="board"
       cdkDropList
       (cdkDropListDropped)="drop($event)"
       [style.gridTemplateColumns]="'repeat(' + board.categories.length + ', 1fr)'"
       [style.gridTemplateRows]="'auto repeat(' + maxQuestions + ', 1fr)'">


    <!-- HEADER ROW -->
    <ng-container *ngFor="let category of board.categories; let catIndex = index">
      <input
        class="category-title"
        [(ngModel)]="board.categories[catIndex].name"
        placeholder="Category name" />
    </ng-container>

    <!-- QUESTION ROWS -->
    <ng-container *ngFor="let rowIndex of rowIndexes">
      <ng-container *ngFor="let category of board.categories; let catIndex = index">
        <div class="cell"
             cdkDrag
             (cdkDragStarted)="dragging = true"
             (cdkDragEnded)="onDragEnd()"
             [attr.data-cat]="catIndex"
             [attr.data-row]="rowIndex"
             [cdkDragData]="{ catIndex: catIndex, rowIndex: rowIndex }"
             (mouseenter)="showAnswer(category.questions[rowIndex])"
             (mouseleave)="showQuestion(category.questions[rowIndex])"
             (click)="selectQuestion(catIndex, rowIndex)">
          <quill-editor
            class="centered-quill"
            [modules]="{toolbar: false}"
            [readOnly]="true"
            format="object"
            [(ngModel)]="category.questions[rowIndex]._previewContent">
            <!--(onEditorCreated)="onPreviewEditorCreated($event, category.questions[rowIndex])">-->
          </quill-editor>
        </div>
      </ng-container>
    </ng-container>

  </div>
}
